---
Checks: [
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  linuxkernel-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
#  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
#  -cppcoreguidelines-avoid-non-const-global-variables,
#  -cppcoreguidelines-macro-usage,
#  -cppcoreguidelines-pro-bounds-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
#  -cppcoreguidelines-pro-type-union-access,
#  -modernize-avoid-c-arrays,
#  -modernize-use-auto,
  -modernize-use-trailing-return-type,
#  -modernize-use-using,
  -readability-identifier-length,
  -readability-magic-numbers,
#  -readability-use-std-min-max,
  -performance-avoid-endl,
  -performance-enum-size,
]
FormatStyle: microsoft
UseColor: true
WarningsAsErrors: true
---
